<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Popup Login Form Design | CodingNepal</title>
    <link rel="stylesheet" href="../static/styl2.css">
</head>

<body>
    <div class="center">
        <input type="checkbox" id="show">
        <label for="show" class="show-btn">View Result</label>
        <div class="container">
            <label for="show" class="close-btn fas fa-times" title="close"></label>
            <div class="pred">
                <span class="predicted_heart result">{{prediction}}</span>
            </div>

            <form action="file:///C:/Users/pc/Downloads/ahmed_amir_project_2/2020/templates/index2.html#">
                <div class="forgot-pass">

                </div>
                <div class="btn">
                    <a href="{{ url_for('index') }}">Another prediction </a>
                </div>

            </form>
        </div>
    </div>


</body>

</html>